<!-- app/views/lists/index.html.erb -->
<h1>All Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to "New List", new_list_path %>

<%= simple_form_for List.new do |f| %>
  <%= f.input :name, label: 'Name' %>
  <%= f.button :submit, "Create List" %>
<% end %>
