<!-- app/views/lists/show.html.erb -->
<h1><%= @list.name %></h1>

<h4>Movies in this List</h4>
<ul>
  <% @list.movies.each do |movie| %>
    <li><%= movie.title %></li>
  <% end %>
</ul>

<h4>Add Movie to List</h4>
<%= form_with(model: [@list, @bookmark], url: list_bookmarks_path(@list)) do |f| %>
  <%= f.collection_select :movie_id, Movie.all, :id, :title %>
  <%= f.submit "Add Movie" %>
<% end %>
