<!-- app/views/lists/show.html.erb -->
<h1><%= @list.name %></h1>

<h4>Movies in this List</h4>
<ul>
  <% @list.movies.each do |movie| %>
    <li><%= movie.title %></li>
  <% end %>
</ul>

<p>Add Movie to List</p>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :movie_id, collection: Movie.all, label_method: :title, value_method: :id, label: "Movie" %>
  <%= f.button :submit, "Add Movie" %>
<% end %>
